@model OAGStaff.Models.Approval
@{
    ViewBag.Title = "Leave Requisition Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            @TempData["Error"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            @TempData["Success"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-uppercase">Leave Requisition Details</h5>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Dashboard</li>
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("index","dashboard")">Leave Requisition Details</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="dropdown-divider"></div>
                    <form action="@Url.Action("cancelapprovalrequest","approvals")" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input name="DocumentNo" type="hidden" required value="@Model.DocumentNo" />
                                <input name="WorkflowInstanceId" type="hidden" required value="@Model.WorkflowInstanceId" />
                                <div class="table-responsive text-wrap">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Document No</td>
                                                <td>@Model.DocumentNo</td>
                                            </tr>
                                            <tr>
                                                <td>Employee Name</td>
                                                <td>@Model.EmployeeName</td>
                                            </tr>
                                            <tr>
                                                <td>Leave Type</td>
                                                <td>@Model.LeaveType</td>
                                            </tr>
                                            <tr>
                                                <td>Applied Days</td>
                                                <td>@Model.AppliedDays</td>
                                            </tr>
                                            <tr>
                                                <td>Start Date</td>
                                                <td>@Convert.ToDateTime(Model.StartDate).ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>End Date</td>
                                                <td>@Convert.ToDateTime(Model.EndDate).ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Return Date</td>
                                                <td>@Convert.ToDateTime(Model.ReturnDate).ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Purpose</td>
                                                <td>@Model.Description</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="form-label">Comments</label>
                                <textarea name="Comments" class="form-control" placeholder="Type your comment here..." required></textarea>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 d-flex justify-content-between align-items-center">
                                <a class="btn btn-success" href="@Url.Action("approveapprovalrequest", "approvals", new { documentNo = Model.DocumentNo, workflowId = Model.WorkflowInstanceId })">Approve</a>
                                <a class="btn btn-primary" href="@Url.Action("delegateapprovalrequest", "approvals", new { documentNo = Model.DocumentNo, workflowId = Model.WorkflowInstanceId })">Delegate</a>
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>