@model OAGStaff.Models.Training
@{
    ViewBag.Title = "Training Application Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            @TempData["Error"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            @TempData["Success"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="text-uppercase">Training Application Lines</h5>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Dashboard</li>
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("index","dashboard")">Training Application Lines</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="dropdown-divider"></div>
                    <form action="@Url.Action("traininglines","training")" method="post">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label>Document Number</label><br />
                                <label class="text-primary">@Model.DocumentNo</label>
                            </div>
                            <div class="col-md-3">
                                <label>Staff Name</label><br />
                                <label class="text-primary">@Model.StaffName</label>
                            </div>
                            <div class="col-md-3">
                                <label>Department</label><br />
                                <label class="text-primary">@Model.Department</label>
                            </div>
                            <div class="col-md-3">
                                <label>Directorate</label><br />
                                <label class="text-primary">@Model.Directorate</label>
                            </div>
                            <div class="col-md-3">
                                <label>Sub Direcorate</label><br />
                                <label class="text-primary">@Model.SubDirectorate</label>
                            </div>
                            <div class="col-md-3">
                                <label>Unit Code</label><br />
                                <label class="text-primary">@Model.UnitCode</label>
                            </div>
                        </div>
                        @if (Model.Status == "New")
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Staff</label>
                                    @Html.DropDownListFor(m => m.StaffNo, new SelectList(Model.TrainingEmployees, "Code", "Description"), new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <label>Course Fee</label>
                                    <input type="number" name="CourseFee" class="form-control" required placeholder="Course Fee" />
                                </div>
                                <div class="col-md-3">
                                    <label>DSA Amount</label>
                                    <input type="number" name="DsaAmount" class="form-control" required placeholder="DSA Amount" />
                                </div>
                                <div class="col-md-3">
                                    <label>Transport Cost</label>
                                    <input type="number" name="TransportCost" class="form-control" required placeholder="Transport Cost" />
                                </div>
                                <div class="col-md-12 mt-2">
                                    <button type="submit" class="btn btn-primary"><i class="bx bx-pencil"></i> Add</button>
                                </div>
                            </div>
                        }
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Staff No</th>
                                            <th>Staff Name</th>
                                            <th>Course Fee</th>
                                            <th>DSA Cost</th>
                                            <th>Transport Cost</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.TrainingLines)
                                        {
                                            <tr>
                                                <td>@item.StaffNo</td>
                                                <td>@item.StaffName</td>
                                                <td>@String.Format(@"{0:#,##0.00}", item.CourseFee).ToString()</td>
                                                <td>@String.Format(@"{0:#,##0.00}", item.DsaAmount).ToString()</td>
                                                <td>@String.Format(@"{0:#,##0.00}", item.TransportCost).ToString()</td>
                                                <td><a href="@Url.Action("removetraininglines", new {staffNo=item.StaffNo, documentNo=item.DocumentNo})" class="text-danger"><i class="bx bx-trash"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <form action="@Url.Action("trainingapprovalrequest","training")" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="@Url.Action("traininglisting","training")" class="btn btn-warning">Back</a>
                                    @if (Model.Status == "New")
                                    {
                                        <button type="submit" class="btn btn-success">Send Approval</button>
                                    }
                                    @if (Model.Status == "Pending Approval")
                                    {
                                        <a href="@Url.Action("cancelltrainingapplication", "training")" class="btn btn-danger">Cancell Approval</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>